@import url(
  https://fonts.googleapis.com/css?family=Lato:100,
  300,
  400,
  700,
  900
);
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --font: "Lato", sans-serif;
  --red: #dc1928;
  --black: #221f1f;
  --blackblack: #000;
  --grey: #f5f5f1;
  --white: #fff;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #221f1f;
  background: var(--black);
  color: #fff;
  color: var(--white);
  font-family: Lato, sans-serif;
  font-family: var(--font);
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}
h2,
p {
  margin-bottom: 1em;
}
p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}
.titleList {
  padding: 20px 40px;
  box-sizing: border-box;
}
.titleList > .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}
.titleList .titles-wrapper {
  margin: 20px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px 10px;
}
.movie {
  overflow: hidden;
  min-width: 200px;
  position: relative;
}
.movie img {
  width: 100%;
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.movie .overlay {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 0.75)),
    to(transparent)
  );
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
  padding: 20px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.125s ease;
  transition: opacity 0.125s ease;
}
.movie .overlay .title {
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.movie .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease 0.125s;
  transition: opacity 0.25s ease 0.125s;
}
.movie .overlay .plot {
  font-size: 14px;
  margin-top: 100px;
  font-weight: 500;
  line-height: 1.6;
  height: 8em;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}
.movie:hover img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
.movie:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.movie:hover .plot {
  margin-top: 10px;
  opacity: 1;
}
.movie:hover .listToggle,
.movie:hover .rating,
.movie:hover .title {
  opacity: 1;
}
.listToggle {
  --size: 32px;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  width: var(--size);
  height: var(--size);
  font-size: var(--size) / 2;
  border-radius: var(--size);
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
}
.listToggle:hover {
  border: 2px solid var(--white);
}
.listToggle:hover div {
  top: -32px;
}
.listToggle[data-toggled="true"] {
  background: var(--red);
  border: 2px solid var(--red);
}
.listToggle[data-toggled="true"] div {
  top: -32px;
}
.listToggle div {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px * 2;
  width: 32px;
  -webkit-transition: 0.125s ease;
  transition: 0.125s ease;
}
.listToggle div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 32px;
}
.header {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #000),
    to(transparent)
  );
  background: linear-gradient(180deg, #000, transparent);
  display: flex;
  padding: 40px 40px 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  top: 0;
}
.header + .titleList {
  margin-top: 140px;
}
.navigation ul {
  display: flex;
  height: 37px;
  align-items: center;
  padding: 0 10px;
}
.navigation li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  -webkit-transition: background 0.125s ease;
  transition: background 0.125s ease;
  border-radius: 3px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}
.navigation li:hover {
  background: var(--red);
  cursor: pointer;
}
.search {
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.search input {
  font-family: Lato, sans-serif;
  font-family: var(--font);
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 300px;
  background: transparent;
  color: #fff;
  color: var(--white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border 0.25s ease, width 0.125s ease 0.125s;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}
.search input:focus {
  border: 2px solid #dc1928;
  border: 2px solid var(--red);
  width: 30%;
}
.searchResults {
  margin-top: 20px;
}
